@font-face {
    font-family: "Segoe UI";
    src: url("/static/fonts/SegoeUI.woff2") format("woff2");
}

html body {
    font-family: "Segoe UI";
}

.full-screen>* {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#tmpCanvas {
    display: none;
}

#text {
    text-shadow: 0px 0px 20px #000000;
    font-size: 15vh;
    color: white;
    bottom: 10%;
}

.overlay {
    display: none;
}

.overlay>* {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    right: 0;
}

.page {
    overflow-y: scroll;
    height: 1vh;
    opacity: 0.9;
}

.page>* {
    background: white;
    width: 840px;
    top: 0;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}

#about_page, #stats_page {
    display: none;
}

#best {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 1px 9px;
    border-radius: 11px;
}